.masthead{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 84vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo{
    background-color: transparent;
}

@media (max-width: 768px){
    .masthead{
        min-height: 50vh;
    }
}